/config.status
include/config.h
include/stamp-h
/compile_commands.json
/TAGS
/tags
/config.log
/.gitignore
/Makefile
/loader-wow64
/wine
*~
/autom4te.cache
/config.log
/prefix
/tmp*
/.cache
/.git
/Dockerfile
